/*nav*/
#bdn{
    text-align: center;
    background-color: black;
    position: fixed;
    top: 0px;
    display: block;
    font-size: larger;
    z-index: 5;
}
.nav-item{
    margin: 5px;
    padding: 30px;
    text-align: center;
}
.nav-link:hover{
    color: red;
}
#logo{
    width: 100px;
    height: 100px;
}
#audioplayer{
    width: 200px;
    position: relative;
    top: 25px;
}
/*footer*/

#textfooter{
    color: gold;
}
.fa-brands, .fa-discord{
    color: purple;
}

/*container body*/

#bodytext{
    border-left: 3px solid black;
    border-right: 3px solid black;
    background-color: white;
}
body{
    background-color: rgb(146, 125, 79);
}
h1{
    margin-top: 250px;
    text-decoration: underline;
}
h3{
    text-decoration: underline;
}
.imgex{
    width: 650px;
    height: 500px;
    position: relative;
    left: 300px; 
}

#solu1{
    position: relative;
    left: 40%;
}
#solu2{
    position:relative;
    left: 25%;
}
#lienex1{
    width: 200px;
    height: 200px;
    position: relative;
    left: 100%;
}
#solu3{
    position: relative;
    left: 30%;
}
#lienex2{
    width: 200px;
    height: 200px;
    position: relative;
    left: 35%;
}
.imgex2{
    position: relative;
    left: 20%;
}
#solu4{
    position: relative;
    left: 30%;
}
#solu5{
    position: relative;
    left: 30%;
}
.imgex3{
    width: 500px;
    height: 600px;
    position: relative;
    left: 350px; 
}
#solu6{
    position: relative;
    left: 30%;
}
#ancre1{
    text-decoration: none
}
/*Boutton top*/

#PageUp-ex{
    position:relative;
    left:370px;
   }

#top-exerc{
    scroll-behavior: smooth;
   }

#Pu-exerc{
    color:gold;
    text-decoration: none;
}

/*CSS pour le Font Face*/

@font-face{
    font-family: 'Medieval Sharp';
    src: local("MedievalSharp-Regular"),
    url(../font/MedievalSharp-Regular.ttf);
}

@font-face{
    font-family: 'Jost', sans-serif;
    src: local("Jost-VariableFont-wght"),
         local("Jost-Italic-VariableFont-wght")
         url("../font/Jost-VariableFont_wght.ttf"),
         url("../font/Jost-Italic-VariableFont_wght.ttf");
}

h1, h2, h3{
    font-family: 'Medieval Sharp';
}

p{
    font-family: 'Jost', sans-serif;
}


