/*nav*/
#bdn{
    text-align: center;
    background-color: black;
    position: fixed;
    top: 0px;
    display: block;
    font-size: larger;
    z-index: 5;
}
.nav-item{
    margin: 5px;
    padding: 30px;
    text-align: center;
}
.nav-link:hover{
    color: red;
}
#logo{
    width: 100px;
    height: 100px;
}

/*footer*/

#textfooter{
    color: gold;
}
.fa-brands, .fa-discord{
    color: purple;
}

/*Boutton top*/

#PageUp-ex{
    position:relative;
    left:370px;
   }

#top-exerc{
    scroll-behavior: smooth;
   }

#Pu-exerc{
    color:gold;
    text-decoration: none;
}