#bdn{
    text-align: center;
    background-color: black;
    position: fixed;
    top: 0px;
    display: block;
    font-size: larger;
}
.nav-item{
    margin: 5px;
    padding: 30px;
    text-align: center;
}
.nav-link:hover{
    color: red;
}
#logo{
    width: 100px;
    height: 100px;
}
#titreaccueil{
    display: block;
    position: relative;
    text-align: center;
    margin-top: 15%;
    text-decoration: underline;
    border: 2px dotted gold;
    padding: 15px;
}

#bienvenu{
    display: block;
    position: relative;
    background-color: gray;
    padding: 5px;
    text-align: center;
    opacity: 0.8;
    margin-top: 50px;
}

#corps{
    background-image: url("../img/bgaccueil.jpg");
    background-size: cover ;
    padding-left: 5%;
    padding-right: 5%;
}
