h1{
    margin-top:25px;
    text-align:center;
}

.portfolio{
    background-color:grey;
    margin-top:50px;
    margin-right:100px;
    margin-left:100px;
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
}

.img-margin{
    margin-bottom:15px;
}

.imgpaddingc{
    padding-left:460px;
}

.attachment01{
    height:500px;
    background-image:url(../img/imgback.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
    margin-top:50px;
    margin-left:50px;
    margin-right:50px;
}

.attachment02{
    height:500px;
    background-image:url(../img/imgback02.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    margin:50px;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color:white;
}